{% load static i18n url %}

<style>
    .addlink {
        background: url({% static "admin/img/icon-addlink.svg" %}) left center no-repeat ;
    }

    .toggle-nav-sidebar[aria-expanded="false"]::before {
        content: '\00BB' !important;
    }

    .toggle-nav-sidebar[aria-expanded="true"]::before {
        content: '\00AB' !important;
    }

    nav.collapse.show {
        display: flex;
    }
</style>

<a class="sticky toggle-nav-sidebar" id="toggle-nav-sidebars" data-bs-toggle="collapse" href="#nav-sidebars" aria-label="{% translate 'Toggle navigation' %}" aria-expanded="true"></a>
<nav class="collapse-horizontal flex-column flex-shrink-0 p-3 bg-light collapse show" id="nav-sidebars">
    <div class="nav flex-column mb-auto">
        {% if 'doc' in request.get_full_path %}

            {% url 'django-admindocs-docroot' as docsroot %}
            <a href="{{ docsroot }}" class="nav-item nav-link {% if request|is_url:docroot %}active{% endif %} mb-1">
                <i class="pe-7s-home"></i> {% translate 'Documentation Home' %}
            </a>
            
            {% include 'partials/_doc_list.html' with docsurl=docsroot|add:'tags/' icon='ticket' name='Tags' url_list=tags by_lib=True base_name="Built-in tags" %}

            {% include 'partials/_doc_list.html' with docsurl=docsroot|add:'filters/' icon='filter' name='Filters' url_list=filters by_lib=True base_name="Built-in filters" %}

            {% include 'partials/_doc_list.html' with docsurl=docsroot|add:'models/' icon='network' name='Models' url_list=models is_model=True base_name="Views by empty namespace" %}

            {% include 'partials/_doc_list.html' with docsurl=docsroot|add:'views/' icon='browser' name='Views' url_list=views by_ns=True base_name="Views by empty namespace" %}

            {% include 'partials/_doc_list.html' with docsurl=docsroot|add:'bookmarklets/' icon='bookmarks' name='Bookmarklets' url_list=tags %}
        
        {% else %}
            <a href="{% url 'admin:index' %}" class="nav-item nav-link {% if request|is_url:'/admin/' %}active{% endif %} mb-1">
                <i class="pe-7s-home"></i> Home
            </a>

            {% if available_apps %}
                {% for app in available_apps %}
                    <div class="nav-item my-1">
                        <a class="nav-link dropdown-toggle" href="#{{ app.app_label }}-collapse" data-bs-toggle="collapse">
                            <i class="{{ app.icon }}"></i> {{ app.name }}
                        </a>
                        <div class="card collapse show" id="{{ app.app_label }}-collapse">
                            {% for model in app.models %}
                            <div class="nav-item d-flex justify-content-between">
                                {% if model.admin_url %}
                                <a href="{{ model.admin_url }}" class="nav-link {% if request|is_url:model.admin_url %}active{% endif %}">{{ model.name }}</a>
                                {% else %}
                                <a class="nav-link">{{ model.name }}</a>
                                {% endif %}

                                {% if model.add_url %}
                                <a href="{{ model.add_url }}" class="addlink nav-link">{% translate 'Add' %}</a>
                                {% endif %}
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
            {% endif %}

        {% endif %}
    </div>

    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{ request.user.username }}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
            <a class="dropdown-item" href="#">New project...</a>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Profile</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="{% url 'admin:password_change' %}">Change password</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Sign out</a>
        </div>
    </div>
</nav>